<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Farmácia Mila">
    <meta name="author" content="Diego Casagrande">

    <title>Mila Farmacia de Manipulação</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Custom CSS -->
    <link href="css/stylish-portfolio.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Navigation -->
    <a class="menu-toggle rounded" href="#">
        <i class="fas fa-bars"></i>
    </a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-nav-item">
                <a class="js-scroll-trigger" href="#page-top">Home</a>
            </li>
            <li class="sidebar-nav-item">
                <a class="js-scroll-trigger" href="#contact">Contato</a>
            </li>
        </ul>
    </nav>

    <!-- Header -->
    <header class="masthead d-flex">
        <div class="container text-center">
                <div class="container">
                        <div class="row">
                          <div class="col-sm">
                                <h2 class="mb-12"> </h2>
                                <h3 class="mb-5">
                                    <em>Mila Farmácia de Manipulação</em>
                                </h3>
                          </div>
                          <div class="col-sm">
                             
                          </div>
                        </div>
                        <div class="row">      <div class="col-sm">
                                <a class="btn btn-dark js-scroll-trigger" href="#contact">Orçamento</a>
                            </div> 
                            <div class="col-sm">
                             
                                </div>
                        </div>
                      </div>

            
        </div>
        <div class="overlay"></div>
    </header>

    <!-- contact -->
    <section class="content-section bg-light2 vertical-center" id="contact">
        <div class="container text-center my-auto">
            <div class="row">
                <div class="col-lg-24 mx-auto">
                    <h2>Orçamentos, dúvidas e dicas da Mila</h2>
                    <p class="lead mb-5">Contamos com sua mensagem!</p>
                    <p><br><br> </p>
                    <div id="form-contatct" class="text-left col-lg-24">
                        <form id="pesquisa" action="/contact" method="post">
                            <!-- name form -->
                            <div class="form-group">
                                <label for="nameForm">Nome</label>
                                <input type="text" class="form-control" id="nameForm" name="nameForm" placeholder="Nome completo" required>
                            </div>
                            <!-- email form -->
                            <div class="form-group">
                                <label for="emailForm">Endereço de email (opcional)</label>
                                <input type="email" class="form-control" id="emailForm" name="emailForm" placeholder="nome@email.com" >
                            </div>
                            <!-- phone form -->
                            <div class="form-group">
                                <label for="phoneForm">Telefone</label>
                                <input type="phone" class="form-control" id="phoneForm" name="phoneForm" placeholder="(48)91122-3344" required>
                            </div>
                            <!-- message text -->
                            <div class="form-group">
                                <label for="messageTx">Messagem</label>
                                <textarea class="form-control" id="messageTx" name="messageTx" rows="3" placeholder="Orçamentos, dúvidas, críticas, sugestões..." required></textarea>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-dark">Enviar</button>
                            </div>


                            <% var msgLength = messageSuccess.length %>

                                <% if ((messageSuccess.length > 0)) { %>
                                    <div class="form-group alert alert-success  alert-dismissible" role="alert" id=success-message>
                                        <%= messageSuccess %>
                                    </div>
                                    <% } %>
                                        <% if ((messageError.length > 0)) { %>
                                            <div class="form-group alert alert-danger alert-dismissible " role="alert" id=success-message>
                                                <%= messageError %>
                                            </div>
                                            <% } %>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.container -->



    <!-- Footer -->
    <footer class="footer text-center ">
        <div class="container ">
            <p class="text-muted small mb-0 ">Farmacia Mila</p>
        </div>
    </footer>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded js-scroll-trigger " href="#page-top ">
        <i class="fas fa-angle-up "></i>
    </a>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js "></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js "></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js "></script>

    <!-- Custom scripts for this template -->
    <script src="js/stylish-portfolio.min.js "></script>



</body>

<script>
    window.onload = function() {
        if (<%=msgLength%> > 0) {
            location.href = "#contact";
        }
    }
</script>

</html>