<!DOCTYPE html>
<html lang="pt-br">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Farmácia Mila - 15 anos! Medicamentos manipulados para Içara, Criciúma e região.</title>

    <!-- Medicamentos manipulados para Içara, Criciúma e região -->
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="./img/favicon.ico">

    <!-- Custom styles for this template -->
    <link href="css/grayscale.min.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            Farmácia Mila
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">Conheça</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#projects">Promoções</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#signup">Localização e Contato</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
      <div class="container-fluid d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
          <h1 class="mx-auto my-0">Manipule sua receita!</h1>
          <h2 class="text-white-50 mx-auto mt-5 mb-5">Envie sua receita para a Farmácia de Manipulação Mila, estamos há 15
            anos oferencendo medicamentos de qualidade.</h2>
          <div class="row">
            <div class="col">
              <a href="https://api.whatsapp.com/send?phone=5548998334506" target="_blank" class="btn btn-primary btn-block">Whatsapp</a>
            </div>
            <div class="col">
              <a href="#contact" class="btn btn-primary btn-block ">Email</a>
            </div>
          </div>
          <!-- cards contato -->



          <!-- fim cards -->
        </div> <!-- fim div principal -->
      </div>
    </header>

    <!-- About Section -->
    <section id="about" class="about-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-white mb-4">Farmacia de Manipulação Mila</h2>
            <p class="text-white-50"> Início história, 15 anos (confiança e experiência), farmaceútica, produdos que trabalha </p>
            <a href="http://startbootstrap.com/template-overviews/grayscale/">the preview page</a>. The theme is open source, and you can use it for any purpose, personal or commercial.</p>
          </div>
        </div>
        <img src="img/ipad.png" class="img-fluid" alt="">
      </div>
    </section>

    <!-- Promoções Section -->
    <section id="projects" class="projects-section bg-light">
      <div class="container">

        <!-- Featured Project Row -->
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
          <div class="col-xl-8 col-lg-7">
            <img class="img-fluid mb-3 mb-lg-0" src="img/bg-masthead.jpg" alt="">
          </div>
          <div class="col-xl-4 col-lg-5">
            <div class="featured-text text-center text-lg-left">
              <h4>Frete Grátis</h4>
              <p class="text-black-50 mb-0">Entregamos seu manipulado em Içara, Criciúma e Balneário Rincão sem custos.</p>
              <p class="text-black-50 mb-0">Consulte condições por whatsapp, email ou telefone.</p>
            </div>
          </div>
        </div>

        <!-- Project One Row -->
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
          <div class="col-lg-6">
            <img class="img-fluid" src="img/demo-image-01.jpg" alt="">
          </div>
          <div class="col-lg-6">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-left">
                  <h4 class="text-white">Protetor solar</h4>
                  <p class="mb-0 text-white-50">filtro 90 por de R$ 120,00 por R$ 99,00!</p>
                  <hr class="d-none d-lg-block mb-0 ml-0">
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Project Two Row -->
        <div class="row justify-content-center no-gutters">
          <div class="col-lg-6">
            <img class="img-fluid" src="img/demo-image-02.jpg" alt="">
          </div>
          <div class="col-lg-6 order-lg-first">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-right">
                  <h4 class="text-white">Mais promoções nas nossas redes sociais!</h4>
                  <p class="mb-0 text-white-50">Estamos nas principais redes sociais com dicas ofertas e muitas promoções!</p>
                  <hr class="d-none d-lg-block mb-0 mr-0">
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>

    <!-- Signup Section -->
    <section id="signup" class="signup-section">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-lg-8 mx-auto text-center">

            <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
            <h2 class="text-white mb-5">Subscribe to receive updates!</h2>

            <form class="form-inline d-flex">
              <input type="email" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" placeholder="Enter email address...">
              <button type="submit" class="btn btn-primary mx-auto">Subscribe</button>
            </form>

          </div>
        </div>
      </div>
    </section>

    <!-- Contact Section -->
    <section class="contact-section bg-black">
      <div class="container">

        <div class="row">

          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                <h4 class="text-uppercase m-0">Endereço</h4>
                <hr class="my-4">
                <div class="small text-black-50">Rua Cel. Marcos Rovares, 4, sala 104, Ed. Center Giassi</div>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fas fa-envelope text-primary mb-2"></i>
                <h4 class="text-uppercase m-0">Email</h4>
                <hr class="my-4">
                <div class="small text-black-50">
                  <a href="#">farmaciamilla@gmail.com</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fas fa-mobile-alt text-primary mb-2"></i>
                <h4 class="text-uppercase m-0">Telefone</h4>
                <hr class="my-4">
                <div class="small text-black-50">(48) 3045 0990</div>
              </div>
            </div>
          </div>
        </div>

        <div class="social d-flex justify-content-center">
          <a href="#" class="mx-2">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#" class="mx-2">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#" class="mx-2">
            <i class="fab fa-instagram"></i>
          </a>
        </div>

      </div>
    </section>


<!-- contact -->
<section class="content-section bg-light2 vertical-center" id="contact">
  <div class="container text-center my-auto">
      <div class="row">
          <div class="col-lg-24 mx-auto">
              <h2>Orçamentos, dúvidas e dicas da Mila</h2>
              <p class="lead mb-5">Contamos com sua mensagem!</p>
              <p><br><br> </p>
              <div id="form-contatct" class="text-left col-lg-24">
                  <form id="pesquisa" action="/contact" method="post">
                      <!-- name form -->
                      <div class="form-group">
                          <label for="nameForm">Nome</label>
                          <input type="text" class="form-control" id="nameForm" name="nameForm" placeholder="Nome completo" required>
                      </div>
                      <!-- email form -->
                      <div class="form-group">
                          <label for="emailForm">Endereço de email (opcional)</label>
                          <input type="email" class="form-control" id="emailForm" name="emailForm" placeholder="nome@email.com" >
                      </div>
                      <!-- phone form -->
                      <div class="form-group">
                          <label for="phoneForm">Telefone</label>
                          <input type="phone" class="form-control" id="phoneForm" name="phoneForm" placeholder="(48)91122-3344" required>
                      </div>
                      <!-- message text -->
                      <div class="form-group">
                          <label for="messageTx">Messagem</label>
                          <textarea class="form-control" id="messageTx" name="messageTx" rows="3" placeholder="Orçamentos, dúvidas, críticas, sugestões..." required></textarea>
                      </div>
                      <div class="form-group">
                          <button type="submit" class="btn btn-dark">Enviar</button>
                      </div>


                      <% var msgLength = messageSuccess.length %>

                          <% if ((messageSuccess.length > 0)) { %>
                              <div class="form-group alert alert-success  alert-dismissible" role="alert" id=success-message>
                                  <%= messageSuccess %>
                              </div>
                              <% } %>
                                  <% if ((messageError.length > 0)) { %>
                                      <div class="form-group alert alert-danger alert-dismissible " role="alert" id=success-message>
                                          <%= messageError %>
                                      </div>
                                      <% } %>

                  </form>
              </div>
          </div>
      </div>
  </div>
</section>    

    <!-- Footer -->
    <footer class="bg-black small text-center text-white-50">
      <div class="container">
        Copyright &copy; Your Website 2018
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/grayscale.min.js"></script>

  </body>

</html>
