<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    type="text/css">
  <link rel="stylesheet" href="css/mila.css">
  <link rel="icon" href="img/favicon.ico">
  <title>Farmácia Mila - 15 anos! Medicamentos manipulados para Içara, Criciúma e região.</title>
  <meta name="Diego Casagrande" content="">
  <meta name="keywords" content="Farmácia, Manipução, Medicamentos, Remédios, Fármacos,">
  <meta name="description" content="Farmácia de Manipução">
</head>

<body id="page-top">

  <!-- info business -->
  <section id="info">
    <div id="top-info" class="d-none d-md-block container-fluid b-color-green">
      <div class="d-none d-md-block container">
        <div class="row align-items-center py-1 font-color-white ">
          <div class="col d-inline-flex">
            <strong><i class="pr-1 fa fa-phone fa-lg"> </i>
              Informações: (48) 3045-0990</strong>
            <strong> <a font-color-white href="https://api.whatsapp.com/send?1=pt_BR&amp;phone=5548998334506" style="
          color: white;"> <i class="pl-4 pr-1 fa fa-whatsapp fa-lg"></i>
                WhatsApp: (48) 9 9833-4506 </a></strong>
          </div>
          <div class="col-offset d-inline-flex text-right">
            <button class="btn btn-success" type="button" href="#conheca">
              Enviar receita
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container"> <a class="navbar-brand text-primary" href="#">
        <b style="color: green;"> Farmácia Mila</b>
      </a> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse"
        data-target="#navbar5">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar5">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"> <a class="nav-link" href="#conheca">Conheça a Mila</a> </li>
          <li class="nav-item"> <a class="nav-link" href="#promocao">Promoçoes</a> </li>
          <li class="nav-item"> <a class="nav-link" href="#localizacao">Localização e contato</a> </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"> <a class="nav-link" href="#"><i class="fa fa-facebook fa-lg"> Facebook</i><br></a> </li>
          <li class="nav-item"> <a class="nav-link" href="#"><i class="fa fa-instagram fa- fa-lg"> Instagram</i></a>
          </li>
          <!-- </ul> <a class="btn btn-outline-primary navbar-btn ml-md-2" href="#telegram">Contato</a> -->
      </div>
    </div>
  </nav>

  <!-- main page  -->
  <header>
    <section id="heade-start">
      <!-- pagina inicial -->
      <div class="container" style="height:73vh;">
        <!-- linha geral section-->
        <div class="row h-100 align-items-center justify-content-center pb-4 pt-4">
          <!-- coluna com carrousel -->
          <div class="col  h-100">
            <div class="row align-items-center  h-100">
              <div class="col  h-100">
                <div id="carousel1" class="carousel slide h-100" data-ride="carousel">
                  <div class="carousel-inner  h-100">
                    <div class="carousel-item active  h-100">
                      <img class="d-block w-100  h-100" src="img/missao2.png" alt="Bem vindo">
                    </div>
                    <div class="carousel-item  h-100">
                      <img class="d-block w-100  h-100" src="img/mila_logo2.png" alt="Conheça a farmácia">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- barra com manipule sua receita -->
          <div class="col h-100 pl-4">
            <div class="row align-items-center justify-content-center h-100" style="background: #ecffea;">
              <div class="mx-auto text-center shadow p-2 h-100">
                <div class="text-muted pt-3">
                  <h1>Manipule sua receita!</h1>
                </div>
                <p class="mb-2 mt-2 font-italic font-weight-bold" style="color: green;">A Farmácia de Manipulação Mila
                  está há 15 anos oferencendo
                  medicamentos de qualidade. Nos
                  envie sua receita agora mesmo por whatsapp, email ou pela seção de contato do site<br><br></p>
                <div class="row text-muted">
                  <div class="col-md-4 col-4 p-2"> <i class="d-block  fa fa-3x fa-whatsapp"></i> </div>
                  <div class="col-md-4 col-4 p-2"> <i class="d-block  fa fa-3x fa-envelope"></i> </div>
                  <div class="col-md-4 col-4 p-2"> <i class="d-block  fa fa-3x fa-laptop"></i> </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>
  </header>

  <!-- About Section -->
  <section id="conheca">
    <div style="min-height 100vh;" class="b-color-green">
      <div class="container-fluid py-5">
        <div class="row">
          <div class="col">
            <h1 class="display-4 d-flex align-items-center justify-content-start"><strong>Confiaça...</strong></h1>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="mx-auto p-3 col-md-4"> <img class="d-block img-fluid p-5" src="img/mila_logo2.png"> </div>
          <div class="p-1 col-md-8 text-justify d-flex align-items-center">
            <div class="blockquote mb-0">
              <p><strong>"I throw myself down among the tall grass by the trickling stream; and, as I lie close to the earth, a
                thousand unknown plants are noticed by me: when I hear the buzz of the little world among the stalks."</strong>
              </p>
              <div class="blockquote-footer"><strong>Milena Casagrande Fernandes - Farmaceútica Responsável</strong></div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-4 text-right">
            <button
               class="btn btn-success" type="button">
               <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Em construção
             </button>
          </div>  
          <div class="col-md-8 text-right">
            <h1 class="display-4
           d-flex justify-content-end"><strong>e qualidade</strong></h1>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Promoções Section -->
  <section id="promocao">
    <div class="py-5" style="min-height 100vh;background-color: #d7f9de;">
      <div class="container">
        <div class="row text-center">
          <div class="col-lg-7 p-md-5 p-4 d-flex flex-column justify-content-center">
            <h1> <strong style="color:green">Promoções</strong></h1>
            <br>
            <h5><strong style="color:green"><em>
                  Nossas promoções são publicadas em nossas redes sociais.
                  <br>Aproveite! Estamos esperando vocês lá!
                  <br>Curta nossa página no Facebook e siga no Instagram!
                </em> </strong>
            </h5>
            <!-- parte facebook e instagram -->
            <div class="row text-center d-flex justify-content-center py-4">
              <div class="col-3 col-md-6 py-2 " style="background-color: rgb(59, 89, 152);">
                <div class="row align-items-center">
                  <a href="#">
                    <div class="col"><i class="fa fa-fw fa-facebook fa-3x text-white"></i></div>
                  </a>
                  <div class="col fb-like" data-href="https://www.facebook.com/MilaFarmaciaDeManipulacao/"
                    data-layout="box_count" data-action="like" data-size="large" data-show-faces="true"
                    data-share="true"></div>
                </div>
              </div>
              <div class="col-3 col-md-6 py-2" style="background-color: rgb(144, 123, 228);">
                <div class="row h-100 align-items-center">
                  <div class="col">
                    <a href="#">
                      <i class="fa fa-fw fa-instagram fa-3x text-white"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- carrousel promocao -->
          <div class="col-lg-5 p-3">
            <div class="col  h-100">
              <div class="row align-items-center  h-100">
                <div class="col  h-80">
                  <div id="carousel1" class="carousel slide h-100 shadow" data-ride="carousel">
                    <div class="carousel-inner  h-100">
                      <div class="carousel-item active  h-100">
                        <img class="d-block w-100  h-100" src="img/promo1.png" alt="Bem vindo">
                      </div>
                      <div class="carousel-item  h-100">
                        <img class="d-block w-100  h-100" src="img/promo2.png" alt="Conheça a farmácia">
                      </div>
                      <div class="carousel-item  h-100">
                        <img class="d-block w-100  h-100" src="img/promo3.png" alt="Conheça a farmácia">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- manipulate your recipe -->
  <section id="manipule">
    <div class="container-fluid b-color-green" style="height:100vh;">
      <div class="row align-items-center h-100 text-center">
        <div class="col">
          <div class="row p-4">
            <div class="col">
              <h1><strong><em>Manipule sua receita!</em></strong></h1>
            </div>
          </div>
          <div class="row">
            <div class="col p-4">
              <h3><strong><em>A farmácia de manipulação Mila está há 15 anos oferencendo medicamentos de qualidade. 
                <br>Faça um orçamento agora mesmo! 
                <br>Nos envie sua receita por whatsapp, email ou pela seção de contato do site.
                </strong></em></h3>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <i class="d-block font-color-white fa fa-3x fa-whatsapp"></i>
            </div>
            <div class="col">
              <i class="d-block font-color-white fa fa-3x fa-envelope"></i>
            </div>
            <div class="col">
              <i class="d-block font-color-white fa fa-3x fa-laptop"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Contact Section -->
  <section id="localizacao"">
      <div class=" container" style="min-height:100vh;">
    <div class="row p-5">
      <div class="col text-center">
        <h1 ><strong class="text-primary"><em>Contato e localização</em></strong></h1>
      </div>
    </div>
    <div class="row">
      <!-- locaction contact -->
      <div class="col-md-4 mb-3 mb-md-0 text-primary">
        <div class="card py-4 h-100 ">
          <div class="card-body text-center ">
            <i class="fa fa-fw fa-map-marker fa-3x  mb-2"></i>
            <h4 class="text-uppercase m-0">Endereço</h4>
            <hr class="my-4">
            <div class="small text-primary">Rua Anita Garibaldi, 207, sala 4, Ed. Center Giassi, Içara, SC</div>
            <div class="small "><a class="text-black-50" href="">Click aqui para abrir o mapa</a></div>
          </div>
        </div>
      </div>
      <!-- email contact -->
      <div class="col-md-4 mb-3 mb-md-0 text-primary">
        <div class="card py-4 h-100">
          <div class="card-body text-center">
            <i class="fa fa-fw fa-envelope fa-3x mb-2"></i>
            <h4 class="text-uppercase m-0">Email</h4>
            <hr class="my-4">
            <div class="small text-primary">
              farmaciamilla@gmail.com
            </div>
            <div class="small "><a class="text-black-50" href="">Click aqui para enviar pelo site</a></div>
          </div>
        </div>
      </div>
      <!-- phone contact -->
      <div class="col-md-4 mb-3 mb-md-0 text-primary">
        <div class="card py-4 h-100">
          <div class="card-body text-center">
            <i class="fa fa-fw fa-mobile fa-3x mb-2"></i>
            <h4 class="text-uppercase m-0">Telefone</h4>
            <hr class="my-4">
            <div class="small text-primary"><i class="fa fa-phone"></i> (48) 3045 0990</div>
            <div class="small text-primary"><i class="fa fa-whatsapp"></i> (48) 9 9833 4506</div>
            <div class="small "><a class="text-black-50" href="">click para enviar um whatsapp</a></div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>

  <!-- Telegram section -->
  <section class="content-section vertical-center" id="telegram">
    <div class="container-fluid text-center my-auto" style="min-height:100vh;background-color:#d7f9de">
      <div class="row p-5">
        <div class="col-lg-24 mx-auto">
            <h1 ><strong class="text-primary"><em>Orçamentos, dúvidas e dicas da Mila</em></strong></h1>
            <h4 ><strong class="text-primary"><em>Contamos com sua mensagem!</em></strong></h4>
          <p><br><br> </p>
          <div id="form-contatct" class="text-left col-lg-24">
            <form id="pesquisa" action="/contact" method="post">
              <!-- name form -->
              <div class="form-group">
                <label for="nameForm">Nome</label>
                <input type="text" class="form-control" id="nameForm" name="nameForm" placeholder="Nome completo"
                  required>
              </div>
              <!-- email form -->
              <div class="form-group">
                <label for="emailForm">Endereço de email (opcional)</label>
                <input type="email" class="form-control" id="emailForm" name="emailForm" placeholder="nome@email.com">
              </div>
              <!-- phone form -->
              <div class="form-group">
                <label for="phoneForm">Telefone</label>
                <input type="phone" class="form-control" id="phoneForm" name="phoneForm" placeholder="(48)9 9833 4506"
                  required>
              </div>
              <!-- message text -->
              <div class="form-group">
                <label for="messageTx">Messagem</label>
                <textarea class="form-control" id="messageTx" name="messageTx" rows="3"
                  placeholder="Orçamentos, dúvidas, críticas, sugestões..." required></textarea>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-success">Enviar</button>
              </div>


              <% var msgLength = messageSuccess.length %>

              <% if ((messageSuccess.length > 0)) { %>
              <div class="form-group alert alert-success  alert-dismissible" role="alert" id=success-message>
                <%= messageSuccess %>
              </div>
              <% } %>
              <% if ((messageError.length > 0)) { %>
              <div class="form-group alert alert-danger alert-dismissible " role="alert" id=success-message>
                <%= messageError %>
              </div>
              <% } %>

            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="bg-black small text-center text-white-50">
    <div class="container">
      Copyright &copy; Farmácia Mila
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"
    style=""></script>
  <div id="fb-root"></div>
  <script>(function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v3.2';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

</body>

</html>