<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Medicamentos manipulados para Içara, Criciúma e região. Faça um orçamento agora mesmo!">
    <meta name="keywords" content="Farmácia de Manipulação Mila, Farmacia de Manipulacao Mila, Farmácia de Manipulação, Farmacia de Manipulacao, Farmácia, Farmacia, Içara, Farmácia, Manipução, Medicamentos, Remédios, Fármacos, Farmácia de Manipulação Içara, Farmácia de Manipulação Criciúma, Farmácia de Manipulação Rincão, Içara, Mila">
    <meta name="author" content="Diego Casagrande">
    <meta name="url" content="http://www.farmaciamila.com.br">
    <meta name="robots" content="index,follow" />
    <meta name="copyright" content="Farmácia Mila">

    <!--  Essential META Tags -->
    <meta property="og:title" content="Farmácia Mila - 15 anos!">
    <meta property="og:description" content="Medicamentos manipulados para Içara, Criciúma e região. Faça um orçamento agora mesmo!">
    <meta property="og:image" content="https://www.farmaciamila.com.br/img/mila_logo_GG-min.png">
    <meta property="og:url" content="https://www.farmaciamila.com.br">
    <meta name="twitter:card" content="https://www.farmaciamila.com.br/img/mila15Anos.png">
    <meta property="og:site_name" content="Farmácia de Manipulação Mila">
    <meta name="og:email" content="farmaciamilla@gmail.com" />
    <meta name="og:phone_number" content="(48)3045-0990" />

    <title>Farmácia Mila - 15 anos!</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/mila.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="icon" href="img/favicon.ico">
</head>

<body id="page-top">

    <section id="navigation">
        <div class="fixed-top">

            <!-- info business -->
            <div class="container-fluid b-green d-none d-md-block">
                <div class="container">
                    <div class="row align-items-center py-1 text-white">
                        <div class="col d-inline-flex">
                            <!-- TODO: trocar imagem para brando -->
                            <div class="align-self-center">
                                <a class="scrollto" href="#page-top"><span>
                                    <img src="img/mila_brand_white.png" alt="Farmácia de Manipulação Mila" style="max-height: 1.6rem;" class="pl-1 pr-4"> 
                                </span></a>
                            </div>
                            <div class="align-self-center"> <strong> <i class="pr-1 fa fa-phone fa-lg"> </i>Informações: (48) 3045-0990</strong></div>
                            <div class="align-self-center"> <strong> <a class="scrollto text-white" href="https://wa.me/5548998334506?text=Mensagem%20para%20a%20Farm%C3%A1cia%20Mila" target="blank"><i class="pl-4 pr-1 fa fa-whatsapp fa-lg"></i> WhatsApp: (48) 9 9833-4506 </a></strong></div>
                        </div>
                        <div class="col-offset d-inline-flex text-right">
                            <button class="btn btn-success" type="button" onclick="window.location.href='#sendInvite'">
                                <strong>Enviar receita</strong>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Navigation -->
            <div class="container-fluid b-white">
                <nav class="navbar navbar-expand-lg navbar-light b-white">
                    <div class="container">
                        <span class="navbar-toggler border-0 p-2"><img src="img/mila_brand.png" alt="Farmácia de Manipulação Mila" style="max-height: 2rem;"></span>
                        <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar5">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbar5">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item"> <a class="nav-link scrollto" href="#page-top">Início</a> </li>
                                <li class="nav-item"> <a class="nav-link scrollto" href="#about">Conheça a Mila</a> </li>
                                <li class="nav-item"> <a class="nav-link scrollto" href="#promotion">Promoções</a> </li>
                                <li class="nav-item"> <a class="nav-link scrollto" href="#sendInvite">Orçamentos</a> </li>
                                <li class="nav-item"> <a class="nav-link scrollto" href="#location">Localização e contatos</a> </li>
                            </ul>
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item"> <a class="nav-link" href="https://www.facebook.com/MilaFarmaciaDeManipulacao/" target="blank"><i class="fa fa-facebook fa-lg"> Facebook</i><br></a></li>
                                <li class="nav-item"> <a class="nav-link" href="https://www.instagram.com/milafarmaciademanipulacao/" target="blank"><i class="fa fa-instagram fa- fa-lg"> Instagram</i></a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>

        </div>
    </section>



    <!-- first section on view -->
    <Section id="first-view">
        <!-- space for fixed-top -->
        <div class="container-fluid" style="height: 20vh;">
        </div>

        <!-- general line into section-->
        <div class="container" style="height:66vh">
            <div class="row align-items-center h-100">

                <!-- col carrousel -->
                <div class="col-md-5 h-100">
                    <div id="carousel" class="carousel slide carousel-fade h-100" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel" data-slide-to="1"></li>
                            <li data-target="#carousel" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner h-100">
                            <div class="carousel-item active h-100">
                                <img class="d-block w-100 h-100" src="img/mila15Anos.png" alt="Farmácia Mila">
                            </div>
                            <div class="carousel-item h-100">
                                <img class="d-block w-100 h-100" src="img/saudeMissao.png" alt="Nossa missão">
                            </div>
                            <div class="carousel-item h-100">
                                <img class="d-block w-100 h-100" src="img/conhecaPromo.png" alt="Conheça a Farmácia">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Anterior</span>
                        </a>
                        <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Próximo</span>
                        </a>
                    </div>
                </div>

                <!-- col manipule sua receita -->
                <div class="col-md-7 h-100 d-none d-md-block ">
                    <div class="row align-items-center justify-content-center h-100 shadow text-center text-green " style="background: #ecffea; ">
                        <div class="col p-4">
                            <h2 class="p-3">Manipule sua receita!</h2>
                            <p class="font-italic font-weight-bold">A Farmácia de Manipulação Mila está há 15 anos oferecendo medicamentos de qualidade. Faça um orçamento agora mesmo nos enviando sua receita por WhatsApp ou pelo site.<br><br></p>
                            <div class="row">
                                <div class="col "></div>
                                <div class="col p-2 ">
                                    <a class="scrollto " style="color: green; text-decoration: none; " title="Envie sua receita por WhatsApp " href="https://wa.me/5548998334506?text=Mensagem%20para%20a%20Farm%C3%A1cia%20Mila" target="blank ">
                                        <i class="d-block fa fa-3x fa-whatsapp" data-toggle="tooltip" data-placement="top" title="Click para enviar um WhatsApp"></i>WhatsApp
                                    </a>
                                </div>
                                <!-- <div class="col p-2 ">
                                    <a class="scrollto " style="color: green; text-decoration: none; " title="Envie sua receita por email: farmaciamilla@gmail.com " href="javascript:alert('Envie sua receita para o e-mail: farmaciamilla@gmail.com'); ">
                                        <i class="d-block fa fa-3x fa-envelope "></i>E-mail
                                    </a>
                                </div> -->
                                <div class="col p-2 ">
                                    <a class="scrollto " style="color: green; text-decoration: none; " title="Envie sua receita por este site " href="#telegram ">
                                        <i class="d-block fa fa-3x fa-laptop" data-toggle="tooltip" data-placement="top" title="Click para enviar pelo Site"></i>Site
                                    </a>
                                </div>
                                <div class="col "></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- after blank space -->
        <div class="container-fluid " style="height: 14vh; "> </div>
    </Section>

    <!-- about section  -->
    <section id="about">
        <!-- space for fixed-top -->
        <div class="container-fluid b-green" style="height: 15vh; margin-block-end: -1px"></div>

        <!-- Main info about mila -->
        <div class="container-fluid b-green text-white align-items-center">
            <div class="container" style="min-height:85vh;">

                <!-- meet mila -->
                <div class="row text-justify">
                    <div class="col-md-8">
                        <h2 class="p-4 text-center"> <strong><em>Conheça a Mila</em> </strong></h2>
                        <!-- rigth text -->
                        <div>
                            <p> <strong> A Farmácia de Manipulação Mila iniciou suas atividades há 15 anos com a missão de prover produtos
                            manipulados com o alto padrão de qualidade, garantindo dessa forma, a absoluta precisão das fórmulas e dos
                            cosméticos terapêuticos.</strong></p>

                            <p><strong>Os profissionais atuantes na farmácia Mila mantém-se sempre atualizados, por meio de treinamentos e
                            acompanhamento de pesquisas sobre matérias primas e medicamentos. Contam também com a assessoria
                            especializada e suporte técnico de nível internacional.</strong></p>

                            <p><strong>O processo de elaboração de um medicamento manipulado exige um rígido controle, as receitas
                            manipuladas são regulamentadas no Formulário Nacional da Farmacopeia Brasileira e mantidas pela ANVISA
                            (Agência Nacional de Vigilância Sanitária).</strong></p>
                        </div>
                    </div>

                    <!-- right image -->
                    <div class="col-md-4 p-4 wow pulse" data-wow-iteration="3" data-wow-duration="0.15" style="visibility: visible; animation-iteration-count: 1; animation-name: pulse;">
                        <img class="img w-100 h-100 " src="img/mila_brand_white__GG.png ">
                    </div>
                </div>

                <!-- manipulations formulas -->
                <div class="pt-10">
                    <div class="row text-center ">
                        <div class="col ">
                            <h2 class=""> <strong><em>Sobre medicamento manipulados</em> </strong></h2>
                        </div>
                    </div>
                    <div class="row text-justify pt-4 ">
                        <!-- rigth text -->
                        <div class="wow slideInLeft" data-wow-duration="1s ">
                            <div class="pill ">1</div><span class="font-15 ">Economia</span>
                            <p class="py-3 "> <strong> Os medicamentos manipulados são disponibilizados em sua quantidade exata ao consumo, evitando
                    deste modo desperdícios e reduzindo o custo. As fórmulas são dimensionadas para o paciente considerando fatores como
                    idade, sexo, peso e condições de saúde, permitindo o consumo de medicamentos na dose adequada.</strong></p>
                            <div class="pill ">2</div><span class="font-15 ">Praticidade</span>
                            <p class="py-3 "><strong>Permitem a formulação de mais de um medicamento em uma cápsula ou outra forma farmacêutica, que
                    possa reduzir a quantidade de medicamentos a ser ingerido.</strong></p>
                            <div class="pill ">3</div><span class="font-15 ">Particularidades</span>
                            <p class="py-3 "><strong>A manipulação pode beneficiar pacientes com alergias a componentes presentes em
                    medicamentos industrializados, como corantes e fragrâncias. Também proporciona mais facilidade para a ingestão com
                    diversas formas de apresentação (comprimidos, pós para diluição, gotas, xaropes, cápsulas de diferentes tamanhos,
                    cremes, géis, xampus, etc).</strong></p>
                            <div class="pill ">4</div><span class="font-15 ">Segurança</span>
                            <p class="py-3 "><strong>Os medicamentos manipulados só podem ser feitos em farmácias de manipulação capacitadas e
                    autorizadas a preparar as formulações personalizadas. Somos, periodicamente, fiscalizados pela Vigilância Sanitária
                    e pelos Conselhos Regionais de Farmácia.</strong></p>
                        </div>
                    </div>
                </div>

                <!-- more about mila -->
                <div class="row py-10 align-self-center">
                    <div class="col-md-6 p-5 bg-white ml-auto border ">
                        <h2 class="text-center p-3"><strong style="color:green "><em>E veja mais...</em></strong></h2>
                        <p class="text-justify text-green"> <strong>Apresentamos a farmacêutica responsável Milena Paz Casagrande Fernandes! Neste vídeo, falamos sobre a farmácia, medicamentos manipulados e enfatizamos nossa disposição em atender com excelência! .</strong></p>
                    </div>
                    <div class="col-md-6 p-5 bg-white ml-auto border ">
                        <div class="embed-responsive embed-responsive-16by9 ">
                            <iframe src="https://www.youtube.com/embed/IpJ_8luC0gY" allowfullscreen=" " class="embed-responsive-item "></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- promotion section -->
    <section id="promotion">
        <!-- space for fixed-top -->
        <div class="container row" style="height: 15vh;">
        </div>

        <!-- main div -->
        <div class="container" style="min-height:85vh">
            <div class="row align-items-center h-100 ">
                <div class="col-md-6 text-center text-green align-self-center p-2 pl-4 py-4">
                    <h2> <strong><em>Promoções</em></strong></h2>
                    <br>
                    <h5><strong><em>
                        Nossas promoções são publicadas em nossas redes sociais.
                        <br>Aproveite!
                        <br> Estamos esperando vocês lá!
                        <br>Curta no Facebook e siga no Instagram!
                    </em></strong></h5>

                    <!-- part facebook e instagram -->
                    <div class="row text-center d-flex justify-content-center py-5 ">
                        <!-- facebook -->
                        <div class="col-md-6  " style="background-color: rgb(59, 89, 152);min-height: 110px;">
                            <a href="https://www.facebook.com/MilaFarmaciaDeManipulacao/" target="blank">
                                <div class="row h-100 align-items-center">
                                    <div class="col">
                                        <i class="fa fa-fw fa-facebook fa-3x text-white"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- instagram -->
                        <div class="col-md-6 " style="background-color: rgb(144, 123, 228);min-height: 110px;">
                            <a href="https://www.instagram.com/milafarmaciademanipulacao/" target="blank">
                                <div class="row h-100 align-items-center">
                                    <div class="col ">
                                        <i class="fa fa-fw fa-instagram fa-3x text-white"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- promotions images carrousel -->
                <!-- <div class="p-3 col-md-6 d-none d-md-block text-center h-100"> -->
                <div class="p-3 col-md-6 text-center h-100">
                    <div class="carousel slide" data-ride="carousel" id="carousel1">
                        <div id="carousel2" class="carousel slide carousel-fade h-100" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel2" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel2" data-slide-to="1"></li>
                                <li data-target="#carousel2" data-slide-to="2"></li>
                                <li data-target="#carousel2" data-slide-to="3"></li>
                            </ol>
                            <div class="carousel-inner h-100">
                                <div class="carousel-item active h-100">
                                    <img class="img-fluid" src="img/promo_01.png" alt="Imagem promoção 1">
                                </div>
                                <div class="carousel-item h-100">
                                    <img class="img-fluid" src="img/promo_02.png" alt="Imagem promoção 2">
                                </div>
                                <div class="carousel-item h-100">
                                    <img class="img-fluid" src="img/promo_03.png" alt="Imagem promoção 3">
                                </div>
                                <div class="carousel-item h-100">
                                    <img class="img-fluid" src="img/promo_04.png" alt="Imagem promoção 4">
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carousel2" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Anterior</span>
                            </a>
                            <a class="carousel-control-next" href="#carousel2" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Próximo</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
    </section>

    <!-- manipulate your recipe -->
    <section id="sendInvite">
        <!-- space for fixed-top -->
        <div class="container-fluid b-green" style="height: 15vh; margin-block-end: -1px"></div>

        <!-- Main info about mila -->
        <div class="container-fluid b-green text-white align-items-center">
            <div class="container text-center" style="min-height:85vh;">
                <!-- desktop spaces -->
                <div class="row p-5 d-none d-md-block"></div>

                <!-- title -->
                <div class="row">
                    <div class="col">
                        <h2><strong><em>Manipule sua receita!</em></strong></h2>
                    </div>
                </div>

                <!-- main message  -->
                <div class="row">
                    <div class="col p-5">
                        <h4><strong><em style="font-size: 1.3rem;">
                            A farmácia de manipulação Mila está há 15 anos oferencendo medicamentos de qualidade.
                        <br>Faça um orçamento agora mesmo!
                        <br>Nos envie sua receita por whatsapp, email ou pela seção de contato do site.
                        </strong></em>
                        </h4>
                    </div>
                </div>

                <!-- icon links -->
                <div class="row wow fadeInUp">
                    <div class="col d-none d-md-block"></div>
                    <div class="col">
                        <a style="color: white; text-decoration: none;" title="Envie sua receita por WhatsApp" href="https://wa.me/5548998334506?text=Mensagem%20para%20a%20Farm%C3%A1cia%20Mila" target="blank"> <i class="d-block text-white fa fa-4x fa-whatsapp"></i>WhatsApp</a>
                    </div>
                    <div class="col">
                        <a style="color: white; text-decoration: none;" title="Envie sua receita por email: farmaciamilla@gmail.com" href="javascript:alert('Envie sua receita para o e-mail: farmaciamilla@gmail.com');"><i class="d-block fa fa-4x fa-envelope"></i>E-mail</a>
                    </div>
                    <div class="col">
                        <a class="scrollto" style="color: white; text-decoration: none;" title="Envie sua receita por este site" href="#telegram"><i class="d-block text-white fa fa-4x fa-laptop"></i>Site</a>
                    </div>
                    <div class="col d-none d-md-block"></div>
                </div>

            </div>
        </div>
    </section>

    <!-- Location Section -->
    <section id="location">
        <!-- space for fixed-top -->
        <div class="container-fluid" style="height: 15vh; margin-block-end: -1px"></div>

        <!-- Main location mila -->
        <div class="container-fluid align-items-center">
            <div class="container text-green text-center" style="min-height:85vh;">

                <!-- title -->
                <div class="row pb-5">
                    <div class="col">
                        <h2><strong><em>Localização e contatos</em></strong></h2>
                    </div>
                </div>

                <!-- main contacts -->
                <div class="row p-4">

                    <!-- locaction contact -->
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100 ">
                            <a style="color: green" href="https://goo.gl/maps/XD8nEGSPf2M2" target="blank">
                                <div class="card-body text-center ">
                                    <i class="fa fa-fw fa-map-marker fa-3x  mb-2"></i>
                                    <h4 class="text-uppercase m-0">Endereço</h4>
                                    <hr class="my-4">
                                    <div>Rua Altamiro Guimarães, 397, sala 4, Içara, SC</div>
                                    <div class="small text-black-50">Click aqui para abrir o mapa</div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <!-- email contact -->
                    <div class="col-md-4 mb-3 mb-md-0 ">
                        <div class="card py-4 h-100">
                            <a class="scrollto" style="color: green" href="#telegram">
                                <div class="card-body text-center">
                                    <i class="fa fa-fw fa-envelope fa-3x mb-2"></i>
                                    <h4 class="text-uppercase m-0">Email</h4>
                                    <hr class="my-4">
                                    <div>
                                        farmaciamilla@gmail.com
                                    </div>
                                    <div class="small text-black-50">Click aqui para enviar pelo site</div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <!-- phone contact -->
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <a style="color: green" href="https://wa.me/5548998334506?text=Mensagem%20para%20a%20Farm%C3%A1cia%20Mila" target="blank">
                                <div class="card-body text-center">
                                    <i class="fa fa-fw fa-mobile fa-3x mb-2"></i>
                                    <h4 class="text-uppercase m-0">Telefone</h4>
                                    <hr class="my-4">
                                    <div><i class="fa fa-phone"></i> (48) 3045 0990</div>
                                    <div><i class="fa fa-whatsapp"></i> (48) 9 9833 4506</div>
                                    <div class="small text-black-50">click para enviar um whatsapp</div>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!-- Telegram section -->
    <section id="telegram">
        <!-- space for fixed-top -->
        <div class="container-fluid b-green" style="height: 15vh; margin-block-end: -1px"></div>

        <!-- Main telegram mila -->
        <div class="container-fluid b-green text-white align-items-center">
            <div class="container text-center" style="min-height:85vh;">

                <!-- title -->
                <div class="row">
                    <div class="col">
                        <h2><strong><em>Orçamentos, dúvidas e dicas da Mila</em></strong></h2>
                        <h4><strong><em>Contamos com sua mensagem!</em></strong></h4>
                        <p><br></p>
                    </div>
                </div>

                <!-- form telegram -->
                <div class="row">
                    <div class="col text-left" id="form-contatct">
                        <form id="pesquisa" action="/contact" method="post">
                            <!-- name form -->
                            <div class="form-group">
                                <label class="text-white" for="nameForm">Nome</label>
                                <input type="text" class="form-control" id="nameForm" name="nameForm" placeholder="Nome completo" required>
                            </div>
                            <!-- email form -->
                            <div class="form-group">
                                <label class="text-white" for="emailForm">Endereço de email (opcional)</label>
                                <input type="email" class="form-control" id="emailForm" name="emailForm" placeholder="nome@email.com">
                            </div>
                            <!-- phone form -->
                            <div class="form-group">
                                <label class="text-white" for="phoneForm">Telefone</label>
                                <input type="phone" class="form-control" id="phoneForm" name="phoneForm" placeholder="(48)9 9833 4506" required>
                            </div>
                            <!-- message text -->
                            <div class="form-group">
                                <label class="text-white" for="messageTx">Messagem</label>
                                <textarea class="form-control" id="messageTx" name="messageTx" rows="3" placeholder="Orçamentos, dúvidas, críticas, sugestões..." required></textarea>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-success">Enviar</button>
                            </div>

                            <% var msgLength = messageSuccess.length %>
                                <% if ((messageSuccess.length > 0)) { %>
                                    <div class="form-group alert alert-success  alert-dismissible" role="alert" id=success-message>
                                        <%= messageSuccess %>
                                    </div>
                                    <% } %>
                                        <% if ((messageError.length > 0)) { %>
                                            <div class="form-group alert alert-danger alert-dismissible " role="alert" id=success-message>
                                                <%= messageError %>
                                            </div>
                                            <% } %>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="container-fluid text-center text-green">
            <strong>Farmácia Mila! 15 anos com você!</strong>
        </div>
        <a href="#page-top" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
        <div class="d-md-none">
            <a href="https://wa.me/5548998334506?text=Mensagem%20para%20a%20Farm%C3%A1cia%20Mila" class="whatsApp-btn" target="blank">
                <strong><i class="fa fa-lg fa-whatsapp"></i></strong>
            </a>
        </div>
    </footer>

    <!-- Core JavaScript -->
    <script src="js/jquery.min.js"></script>
    <script src="js/easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js " integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49 " crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js " integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy " crossorigin="anonymous "></script>
    <script src="js/wow.js "></script>
    <script src="js/main.js "></script>

</body>

</html>